{% load i18n cmsplugin_blog_tags multilingual_project_blog_tags %}
{% load simple_translation_tags %}

{% language SESSION_LANGUAGE %}
<div class="block">
	<h4 class="title-divider"><span>{% trans "Categories" %}</span></h4>
	<div class="category-cloud">
    {% for item in categories %}
        {% with item|get_preferred_translation_from_lang:SESSION_LANGUAGE as title %}
            <span class="item {% if item == category %}active{% endif %}">
                <a class="category" href="{{ item.get_absolute_url }}">{{ title.title }}</a> <span class="label">{% get_entry_count_for_category item SESSION_LANGUAGE %}</span>
            </span><br>
        {% endwith %}
    {% endfor %}
	</div>
</div>
{% endlanguage %}
