# ============================================================================
# Django related packages
# ============================================================================
Django==1.6.2
django-countries==1.5
django_libs==1.46
django-extensions==1.3.3
django-debug-toolbar==1.0.1
django-rosetta==0.7.3

johnny-cache==1.4
urllib3==1.7.1
django-admin-tools==0.5.1


# ============================================================================
# Other important packages
# ============================================================================
Pillow==2.3.0
South==0.8.4
Markdown==2.4
psycopg2==2.4.5
html5lib==0.999
python-memcached==1.53
requests==0.13.5


# ============================================================================
# Multilingual related packages
# ============================================================================
-e git+https://github.com/KristianOellegaard/django-hvad.git@0e2101f15404eaf9611cd6cf843bfc424117b227#egg=hvad
cmsplugin-filer-image-translated==0.2

# ============================================================================
# django-cms related packages
# ============================================================================
-e git+https://github.com/divio/django-cms.git@6a079f395581bf46509a10e4aa1cf1107cff8060#egg=cms
cmsplugin-markdown==0.1.1
cmsplugin_googlemap==0.1.5
cmsplugin_link_extended==0.2
djangocms-link==1.2
djangocms-snippet==1.0.2
djangocms-text-ckeditor==2.1.4


# ATTENTION: You MUST NOT use -e git+... for the following modules because they
# are symlinked on the server to
# /virtualenvs/buildee/lib/python2.7/site-packages/modulename in extra_locales
# and when you install the source distribution the symlink will no longer be
# valid
django-people==1.0
django-document-library==1.0
django-multilingual-events==1.0
# END OF ATTENTION

django-multilingual-tags==0.4
django-localized-names==0.2
django-roadmap==0.2
django-ics-generator==0.1.1
django-multilingual-orgs==1.0
django-multilingual-initiatives==1.0
django-good-practice-examples==1.0
django-generic-positions==0.1.6
django-hero-slider==1.0.1

django-multilingual-news==2.0.2

# app for cmsplugin_blog to multilingual-news datamigrations
-e git+https://github.com/bitmazk/cmsplugin-blog-to-multilingual-news.git#egg=cmsplugin_blog_to_multilingual_news

# ============================================================================
# django-filer related packages
# ============================================================================
easy-thumbnails==1.4
django-filer==0.9.5
cmsplugin-filer==0.9.5


# ============================================================================
# Test & development related packages
# ============================================================================
paramiko
factory_boy==2.3.1
fabric==1.8.2
flake8==2.1.0
watchdog==0.7.1
nose==1.3.0
django-nose==1.2
coverage==3.7.1
django-coverage==1.2.4
