{% load i18n %}

<footer>
	<div class="container">
		<div class="row">
			<div class="span4">
				<h4>{% trans "Partners" %}</h4>
				<img src="http://pixelgraphik.de/media/leh_partner.png">
			</div>
			<div class="span4">
				<h4></h4>
			</div>
			<div class="span4">
				{% if newsletter = "yes" %}
				<h4>{% trans "Follow Us!" %}</h4>
				<p>{% trans "Subscribe to our monthly newsletter and be the first to know about our news and special deals!" %}</p>
				<form class="form-inline">
					<input type="text" class="input-large" placeholder="{% trans 'Enter your E-Mail' %}">
					<button type="submit" class="btn hidden-phone">{% trans 'Ok' %}</button>
				</form>
				{% endif %}
				
				{% if socialmedia = "yes" %}
				<!-- social media -->
				<div class="social-media"> 
	              <a href="#"><i class="icon-twitter"></i></a> 
	              <a href="#"><i class="icon-facebook"></i></a> 
	              <a href="#"><i class="icon-linkedin"></i></a> 
	              <a href="#"><i class="icon-google-plus"></i></a> 
	            </div>
	            {% endif %}
				
			</div>
		</div> <!-- end .row -->
	</div> <!-- end .container -->
	
	<div id="footer-extra">
		<div class="container">
			<div class="row">
				<div class="span12">
					<hr>
					<center>© {% now "Y" %} {% trans 'Wuppertal Institute for Climate, Environment and Energy' %} | Built with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">Font Awesome</a>.</center>
				</div>
			</div> <!-- end .row -->		
		</div> <!-- end .container -->		
	</div>

</footer>


