{% load i18n simple_translation_tags thumbnail %}

{% with person|get_preferred_translation_from_request:request as trans %}
{% if display_type == 'small' %}
    <div class="media team-short">
        <div class="pull-left">
            <img alt="{{ trans.first_name }} {{ trans.last_name }}" class="img-polaroid media-object" src="{% thumbnail person.picture 89x89 crop upscale %}">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{% if person.title %}{% trans person.title %} {% endif %}{{ trans.first_name }} {{ trans.last_name }}, {% trans person.gender %}</h4>
            <p class="role">{{ person.role.get_translation.name }}</p>
            {% if person.phone or person.email %}
                <ul class="inline">
                    {% if person.phone %}
                        <li><em class="icon-phone-sign"></em> {{ person.phone }}</li>
                    {% endif %}
                    {% if person.email %}
                        <li><em class="icon-envelope-alt"></em> {{ person.email }}</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="media team">
        <div class="pull-left">
            <img alt="{{ trans.first_name }} {{ trans.last_name }}" class="img-polaroid media-object" src="{% thumbnail person.picture.image 178x178 crop upscale %}">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{% if person.title %}{% trans person.title %}{% endif %} {{ trans.first_name }} {{ trans.last_name }}, {% trans person.gender %}</h4>
            <p class="role">{{ person.role.get_translation.name }}</p>
            <p>
                <strong>{% trans "Short Bio" %}</strong><br>
                {{ trans.bio }}
            </p>

            {% if person.link_set.all %}
            <ul class="inline">
                {% for link in person.link_set.all %}
                    <li><a href="{{ link.url }}"><em class="icon-{{ link.slug }}"></em> {{ link.link_type.get_translation.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if person.phone or person.email %}
                <ul class="inline">
                    {% if person.phone %}
                        <li><em class="icon-phone-sign"></em> {{ person.phone }}</li>
                    {% endif %}
                    {% if person.email %}
                        <li><em class="icon-envelope-alt"></em> {{ person.email }}</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endwith %}
