{% load i18n thumbnail localized_names_tags multilingual_project_blog_tags %}

{% if display_type == 'small' %}
    <div class="media team-short">
        <div class="pull-left">
            {% if person.gender = "female" %}
            <img alt="{{ person.roman_first_name }} {{ person.roman_last_name }}" class="img-polaroid media-object" src="{% thumbnail person.picture.image|default:'images/female_placeholder.png' 60x60 crop upscale bw %}">
            {% else %}
            <img alt="{{ person.roman_first_name }} {{ person.roman_last_name }}" class="img-polaroid media-object" src="{% thumbnail person.picture.image|default:'images/male_placeholder.png' 60x60 crop upscale bw %}">
            {% endif %}
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                {% if person.non_roman_first_name %}
                    {{ person|get_name:"LONG_NAME_FORMAT_NON_ROMAN" }}
                {% else %}
                    {{ person|get_name }}
                {% endif %}
            </h5>
            {% get_person_info person as person_info %}
            {% if person_info %}
                <p class="role">
                    {{ person_info }}
                </p>
            {% endif %}
            {% if person.phone or person.email %}
                <ul class="inline">
                    {% for link in person.link_set.all %}
	                    <li><a href="{{ link.url }}" class="no-ico"><i class="icon-{{ link.link_type.slug }}"></i></a></li>
	                {% endfor %}
                    {% if person.phone %}
                        <li><em class="icon-phone-sign"></em> {{ person.phone }}</li>
                    {% endif %}
                    {% if person.email %}
                        <li><em class="icon-envelope-alt"></em> <a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="media team">
        <div class="pull-left">
        	{% if person.gender = "female" %}
            <img alt="{{ person.roman_first_name }} {{ person.roman_last_name }}" class="img-polaroid media-object" src="{% thumbnail person.picture.image|default:'images/female_placeholder.png' 120x120 crop upscale bw %}">
            {% else %}
            <img alt="{{ person.roman_first_name }} {{ person.roman_last_name }}" class="img-polaroid media-object" src="{% thumbnail person.picture.image|default:'images/male_placeholder.png' 120x120 crop upscale bw %}">
            {% endif %}
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                {% if person.non_roman_first_name %}
                    {{ person|get_name:"LONG_NAME_FORMAT_NON_ROMAN" }}
                {% else %}
                    {{ person|get_name }}
                {% endif %}
            </h4>
            {% get_person_info person as person_info %}
            {% if person_info %}
                <p class="role">
                    {{ person_info }}
                </p>
            {% endif %}
            <p>
                {% if person.bio %}
                <strong>{% trans "Short Bio" %}</strong><br>
                {{ person.bio }}
                {% endif %}
                &nbsp;
            </p>

            <ul class="inline">
            {% if person.link_set.all %}
                {% for link in person.link_set.all %}
                    <li><a href="{{ link.url }}" class="no-ico"><i class="icon-{{ link.link_type.slug }}"></i> {{ link.link_type.name }}</a></li>
                {% endfor %}
            {% endif %}

            {% if person.phone or person.email %}
                    {% if person.phone %}
                        <li><em class="icon-phone-sign"></em> {{ person.phone }}</li>
                    {% endif %}
                    {% if person.email %}
                        <li><em class="icon-envelope-alt"></em> <a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
                    {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
