{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
{% load cmsplugin_blog_tags %}
{{ block.super }}
{% if not add %}
    <script type="text/javascript" src="{{ STATIC_URL|default:MEDIA_URL }}cmsplugin_blog/change_form.js"></script>
{% endif %}
    {% admin_helpers %}
{% endblock %}

{% block field_sets %}
    {% if add %}
        <ul class="messagelist">
            <li class="info">{% trans "Please save a title and slug for your news entry first. After that you can fill out the excerpt and content of your post." %}</li>
        </ul>
    {% endif %}
    {{ block.super }}
{% endblock %}
