{% extends "cms/standard.html" %}
{% load i18n simple_translation_tags %}

{% block standard_content %}
<h2 class="title-divider"><span><i class="icon-road"></i> {% trans "Roadmap" %}</span></h2>
{% for milestone in milestone_list %}
    {% with milestone|get_preferred_translation_from_request:request as milestone_trans %}
    <h4 class="title-divider"><span>{{ milestone_trans.name }}</span></h4>
    {% endwith %}
    <table class="table table-condensed roadmap">
        <tbody>
            {% for event in milestone.events.all %}
                <tr{% if forloop.last %} class="last"{% endif %}>
                    {% with event|get_preferred_translation_from_request:request as event_trans %}
                    <td class="c1 tags"><span class="tag">{{ event_trans.start_date_text|safe }}</span></td>
                    
                    {% if event_trans.description %}
                    <td class="c2 collapse-group">
                    	<a href="javascript:void(0);" data-toggle="collapse" data-target="#details_{{ event.id }}">{{ event_trans.title|safe }}</a>
                    	<p class="collapse description" id="details_{{ event.id }}">
                    		{{ event_trans.description|safe }}
                    	</p>
                    </td>
                    {% else %}
                    <td class="c2">
                    	{{ event_trans.title|safe }}
                    </td>
                    {% endif %}
                    
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
