{% extends "base.html" %}
{% load i18n %}
{% load cmsplugin_blog_tags placeholder_tags simple_translation_tags document_library_tags %}
{% load url from future %}

{% block meta_container %}{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
    	{% with object|get_preferred_translation_from_request:request as document_title %}
    	<div class="span12">
            <a href="{% url "document_library_list" %}"><i class="icon-circle-arrow-left"></i> {% trans "Back to Library" %}</a>
    		<h2 class="title-divider">
				<span>{{ document_title.title }}</span>
			</h2>
    	</div>
    	<div class="span8">
            {{ document_title.description }}
            {% with object.placeholders|choose_placeholder:"content" as content %}
            <hr>
            {% render_placeholder content %}
            {% endwith %}
        </div>
        {% endwith %}

        <div class="span3 offset1 sidebar" style="">

        	<div class="block short-info">
				<h4 class="title-divider"><span>{% trans "Attached Files" %}</span></h4>
				<div class="">
					<div class="tags">
						<span class="tag">{{ event.category.get_translation.title }}</span>
					</div>
                    {% if object.download_url %}
		                <a class="btn" href="{{ object.download_url }}" target="_blank" title="{{ object.download_url }}">{% trans "View Document" %} <i class="icon-external-link"></i></a>
		            {% else %}
		                {% get_files_for_document document as files %}
		                {% if files %}
		                    <div class="file">
		                        <div class="btn-group">
		                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download-alt"></i> {% trans "Download Document" %} <span class="caret"></span></a>
		                        <ul class="dropdown-menu">
		                            {% for file in files %}
		                                <li><a href="{{ file.url }}"><i class="icon-download-alt"></i> [{{ object.get_filetype }}] {{ file.name|default:file.original_filename }}</a></li>
		                            {% endfor %}
		                        </ul>
		                        </div>
		                    </div>
		                {% endif %}
		            {% endif %}
		            <hr>
		            <small>{% trans "Added:" %} {{ object.creation_date.date }}</small><br>
                    {% if object.creation_date != object.update_date %}
		                <small>{% trans "Last Update:" %} {{ object.update_date|timesince }}</small>
                    {% endif %}
               </div>
			</div>
        </div>
    </div>
</div>



{% endblock %}
