{% load i18n multilingual_project_blog_tags %}
<div class="media team-short" style="overflow:visible;">
    <div class="pull-left">
        <img alt="{{ document.title }}" class="media-object img-polaroid plugin-image-small" src="{{ STATIC_URL }}/multilingual_project_blog/images/document_placeholder.png">
    </div>
    <div class="media-body" style="overflow:visible;">
        {% language SESSION_LANGUAGE %}
            {% get_translation document SESSION_LANGUAGE as doc_trans %}
            <h5 class="media-heading" style="padding:10px 0;">{{ doc_trans.title }}</h5>
            {% include "document_library/partials/single_document_download_button.html" with btn_class="btn-mini btn-info" %}
            <a class="btn btn-mini" style="margin-bottom:2px;" href="{{ document.get_absolute_url }}">{% trans "View details" %}</a>
        {% endlanguage %}
    </div>
</div>
<div style="clear:both;"></div>
<hr style="margin:10px 0 5px 0; ">
