{% extends "base.html" %}
{% load i18n %}
{% load simple_translation_tags document_library_tags multilingual_project_blog_tags %}

{% block main %}
<div class="container">
    <div class="row">
    	<div class="span12">

            <div class="row-fluid">
            <h2 class="title-divider">
                <span>Project
                    <span class="de-em">Library</span>
                </span>
            </h2>
            </div>

            <!--

            var $filters = $('#quicksand-categories');
            var $filterType = $filters.find('li.active a').attr('class');

            DOCUMENTATION: http://razorjack.net/quicksand/docs-and-demos.html

            -->
            <ul id="quicksand-categories" class="nav nav-tabs hidden-phone">
                <li class="active"><a class="all" href="#">{% trans "All Documents" %}</a></li>
                {% for category in categories %}
                    {% with category|get_preferred_translation_from_request:request as category_title %}
                    <li><a class="type-{{ category.slug }}" href="#">{{ category_title.title }}</a></li>
                    {% endwith %}
                {% endfor %}
            </ul>


            <!-- library list -->

            <ul class="thumbnails block library" id="quicksand">
            {% for document in object_list %}
                {% with document|get_preferred_translation_from_request:request as document_title %}
                    <li class="span6 type-{{ document.category.slug }}" data-id="id-{{ document_title.id }}" data-type="type-{{ document.category.slug }}">
                    <span class="inner-wrapper">
                            <span class="meta muted"><i class="icon-folder-open"></i> {{ document.category }}</span>
                            <div class="title">
                                <h4><a href="{{ document.get_absolute_url }}">{{ document_title.title }}</a></h4>
                            </div>
                            <div class="description">
                                {{ document_title.description|truncatewords:50 }}
                            </div>

                            <a class="btn btn-info pull-left" href="{{ document.get_absolute_url }}">{% trans "View Details" %}</a>

                            {% if document.download_url %}
                                <a class="btn" href="{{ document.download_url }}" target="_blank" title="{{ document.download_url }}">{% trans "View Document" %} <i class="icon-external-link"></i></a>
                            {% else %}
                                <div class="file pull-left" style="margin-left:10px;">
                                    <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Download Document" %} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for document_title2 in document.documenttitle_set.all %}
                                            <li>
                                                <a href="{{ document_title2.filer_file.url }}">
                                                    <i class="icon-download-alt"></i>
                                                    {{ document_title2.filer_file.original_filename }}
                                                    {% custom_get_language_info document_title2.language as lang %}
                                                    [{% trans lang.name %}]
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                </div>
                            {% endif %}
                    </span>
                    </li>
                {% endwith %}
            {% endfor %}
            </ul>

            <!-- {% load simple_translation_tags document_library_tags %}
            {% for document in documents %}
                {% with document|get_preferred_translation_from_request:request as document_title %}
                <h2>{{ document_title.title }}</h2>
                <p>{{ document_title.description }}</p>
                {% endwith %}
                {% get_files_for_document document as files %}
                {% for file in files %}
                    <p><a href="{{ file.url }}">{{ file.name|default:file.original_filename }}</a></p>
                {% endfor %}
            {% endfor %} -->
        </div>
    </div>
</div>
{% endblock %}
