{% load i18n simple_translation_tags %}
{% load url from future %}

<div class="tag-cloud">
{% for tag in tags %}
    {% url "blog_archive_tagged" tag=tag.name as tag_url %}
    <span class="{% if tag_url == request.path %}active{% endif %}">
        {% with tag|get_preferred_translation_from_request:request as tag_title %}
        <a class="tag" href="/{{ SESSION_LANGUAGE }}{{ tag_url }}">{{ tag_title.trans_name }}</a>
        {% endwith %}
        ({{ tag.items.all.count }})
    </span>
{% endfor %}
</div>
