{% load i18n simple_translation_tags multilingual_events_tags placeholder_tags multilingual_project_blog_tags cmsplugin_blog_tags %}
{% load url from future %}

{% with example|get_preferred_translation_from_request:request as example_trans %}
<div class="span9">
    <div class="example event thumbnail{% for goal in example.goals.all %} goal{{ goal.pk }}{% endfor %}{% for sector in example.sectors.all %} sector{{ sector.pk }}{% endfor %}{% for country in example.countries.all %} country{{ country.pk }}{% endfor %}">

        <ul class="unstyled">

            <li>
                <strong>{% trans "Country" %}</strong>: {% for country in example.countries.all %}
                <span class="badge badge-info">{{ country.country.name }}</span>
                {% endfor %}
            </li>
            <li>
                <strong>{% trans "Sector" %}</strong>: {% for sector in example.sectors.all %}
                <span class="badge badge-warning">{{ sector }}</span>
                {% endfor %}
            </li>

            <li>
                <strong>{% trans "Goal" %}</strong>: {% for goal in example.goals.all %}
                <span class="badge badge-success">{{ goal }}</span>
                {% endfor %}
            </li>

        </ul>

        <hr>

        <h3 class="title">{{ example_trans.title }}</h3>

        {% placeholder_has_plugins example.placeholders "description" as has_plugins %}
        {% if has_plugins %}
            {% with example.placeholders|choose_placeholder:"description" as description %}
                <div class="description">{% render_placeholder description %}</div>
            {% endwith %}
        {% endif %}
    </div><!-- /example -->
</div><!-- /span9 -->
{% endwith %}
