{% load i18n simple_translation_tags %}
{% load url from future %}

{% with example|get_preferred_translation_from_request:request as example_trans %}
<div class="span9">
    <div class="example thumbnail{% for goal in example.goals.all %} goal{{ goal.pk }}{% endfor %}{% for sector in example.sectors.all %} sector{{ sector.pk }}{% endfor %}{% for country in example.countries.all %} country{{ country.pk }}{% endfor %}">
        <div class="tags">
            {% for sector in example.sectors.all %}
                <span class="tag">{{ sector }}{% if not forloop.last %}, {% endif %}</span>
            {% endfor %} /
            {% for country in example.countries.all %}
                <span class="tag">{{ country }}{% if not forloop.last %}, {% endif %}</span>
            {% endfor %}
        </div>


        <h3 class="title">{{ example_trans.title }}</h3>

        {% for placeholder in example.placeholders.all %}
            {% for plugin in placeholder.cmsplugin_set.all %}
                <p class="description">{{ plugin.render_plugin }}</p>
            {% endfor %}
        {% endfor %}
        <hr>
        <h4>{% trans "Goals" %}</h4>
        <ul class="unstyled">
            {% for goal in example.goals.all %}
                <li>{{ goal }}{% if not forloop.last %}, {% endif %}</li>
            {% endfor %}
        </ul>
        <div style="clear:both;"></div>
    </div><!-- /example -->
</div><!-- /span9 -->
{% endwith %}
