{% load i18n  multilingual_events_tags placeholder_tags multilingual_project_blog_tags %}

<div class="span9">
    <div class="example event thumbnail{% for goal in example.goals.all %} goal{{ goal.pk }}{% endfor %}{% for sector in example.sectors.all %} sector{{ sector.pk }}{% endfor %}{% for country in example.countries.all %} country{{ country.pk }}{% endfor %}">

        <h3 class="title">{{ example.title }}</h3>

        {% placeholder_has_plugins example.practice_description as has_plugins %}
        {% if has_plugins %}
            <div class="description">{% render_placeholder example.practice_description %}</div>
        {% endif %}

        <table class="table table-condensed table-bordered table-striped">
        	<tr>
        		<td class="span1"><strong>{% trans "Country" %}: </strong></td>
        		<td>{% for country in example.countries.all %} <span class="badge">{{ country.country.name }}</span> {% endfor %}</td>
        	</tr>
        	<tr>
        		<td class="span1"><strong>{% trans "Sector" %}: </strong></td>
        		<td>{% for sector in example.sectors.all %} <span class="badge">{{ sector }}</span> {% endfor %}</td>
        	</tr>
        	<tr>
        		<td class="span1"><strong>{% trans "Goal" %}: </strong></td>
        		<td>{% for goal in example.goals.all %} <span class="badge">{{ goal }}</span> {% endfor %}</td>
        	</tr>
        </table>

    </div><!-- /example -->
</div><!-- /span9 -->
