{% load i18n l10n thumbnail %}

{% if plugin.display_type == 'small' %}
    <div class="media team-short">
        <div class="pull-left">
            <img alt="{{ document.title }}" class="media-object img-polaroid plugin-image-small" style="height:60p;width;60px;" src="{{ MEDIA_URL }}images/event_placeholder.png">
        </div>
        <div class="media-body">
            <h5 class="media-heading">{{ event.title }}</h5>
            <ul class="inline">
                <li><em class="icon-time"></em> {{ event.start_date|localize }}{% if event.end_date %} - {{ event.end_date|localize }}{% endif %}</li>
            </ul>
            <a class="btn btn-mini btn-info" href="{{ event.get_absolute_url }}">{% trans "Read more ..." %}</a>
        </div>
    </div>
{% else %}
    <div class="media team">
        <div class="pull-left">
            <img alt="{{ event.title }}" class="media-object img-polaroid plugin-image-big" src="{{ MEDIA_URL }}images/event_placeholder.png">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ event.title }}</h4>
            <ul class="inline">
                <li><em class="icon-time"></em> {{ event.start_date|localize }}{% if event.end_date %} - {{ event.end_date|localize }}{% endif %}</li>
            </ul>
            <a class="btn btn-mini btn-info" href="{{ event.get_absolute_url }}">{% trans "Read more ..." %}</a>
        </div>
    </div>
{% endif %}
{% endwith %}
