{% load i18n l10n sekizai_tags cms_tags %}
{% load thumbnail document_library_tags multilingual_project_blog_tags %}
<div class="media {% if is_detail %} blog-post{% endif %} row-fluid">
    {% get_translation entry SESSION_LANGUAGE as entry_trans %}

    <div class="span1 visible-desktop">
	    <!-- Date desktop -->
	    <div class="date-wrapper" title="{{ entry.pub_date.date }}">
		    <span class="date-m">{{ entry.pub_date|date:"M" }}</span>
		    <span class="date-d">{{ entry.pub_date|date:"d" }}</span>
		    <!-- span class="date-y">{{ entry.pub_date|date:"Y" }}</span> -->
	    </div>

	    {% comment %}
	    <!-- Meta details desktop -->
	    <p class="meta muted">
	    	{% if entry.author.last_name %}
	    	<i class="icon-user"></i>
	    	<a href="{% url "blog_archive_author" author=entry.author.username %}">{{ entry.author.first_name }}</a>
	    	{% endif %}
	    </p>
	    {% endcomment %}

    </div>

    <div class="span11">

        {% if entry %}
            {% render_entry_tag_links entry %}
        {% endif %}

        <h3 class="title">{% if not is_detail %}<a href="{{ entry_trans.master.get_absolute_url }} ">{{ entry_trans.title }}</a>{% else %}{{ entry_trans.title }}{% endif %}</h3>

        {% comment %}
        <!-- Meta details Desktop -->
        <ul class="inline meta muted visible-desktop">
        	<li><i class="icon-calendar"></i> {{ entry.pub_date.date }}</li>
        	{% if entry.author.last_name %}
        	<li>
        		<i class="icon-user"></i> <a href="{% url "blog_archive_author" author=entry.author.username %}">{{ entry.author.first_name }} {{ entry.author.last_name }}</a>
        	</li>
        	{% endif %}
        </ul>
        {% endcomment %}


        <!-- Meta details Tablet/Phone -->
        <ul class="inline meta muted">
            {% language SESSION_LANGUAGE %}
                <li><i class="icon-calendar"></i> {% trans "Posted on" %} {{ entry.pub_date.date }}</li>
            {% endlanguage %}

        	{% comment %}
	        	{% if entry.author.last_name %}
	        	<li>
	        		<i class="icon-user"></i> <a href="{% url "blog_archive_author" author=entry.author.username %}">{{ entry.author.first_name }} {{ entry.author.last_name }}</a>
	        	</li>
	        	{% endif %}
        	{% endcomment %}
        </ul>


        {% if is_detail %}

            {% if images %}
	            <span class="media-object thumbnail"> <img src="{% thumbnail images.0.image 720x480 crop upscale %}">
	            {% if images.0.copyright_notice %}
	                <span class="copyright-notice muted">{{ images.0.copyright_notice }}</span>
	            {% endif %}
	            </span>
            {% endif %}

        	{% render_placeholder entry.content language SESSION_LANGUAGE %}

            {% include "document_library/partials/attachments.html" with attachments=entry.attachments.all %}

            {% for entry_author in entry.authors.all %}
                {% if forloop.first %}
                    <h4 class="title-divider"><span>{% trans "Authors" %}</span></h4>
                {% endif %}
                {% with entry_author.author as author %}
                    {% include "people/person_plugin.html" with person=entry_author.author display_type="small" %}
                {% endwith %}

                {% if not forloop.last %}
                	<hr>
                {% endif %}

            {% endfor %}

            {% render_entry_languages entry %}

            <!-- social bookmarks -->
        	{% include "multilingual_news/partials/social-bookmarks.html" %}

        	<hr>
            <a href="{% page_url "blog" %}"><i class="icon-circle-arrow-left"></i> {% trans "back to overview" %}</a>


        {% else %}
            {% if images.count %}
                <a class="media-object thumbnail" href="{{ entry.get_absolute_url }}"> <img src="{% thumbnail images.0.image 440x293 crop upscale %}"></a>
            {% endif %}
            {% render_placeholder entry.excerpt %}
            <ul class="inline links">
	            <li><a class="btn btn-info btn-mini" href="{{ entry.get_absolute_url }}"><i class="icon-circle-arrow-right"></i> {% trans "Read more" %}</a></li>
	            {% if entry.attachments.all %}
	                <li><a class="btn btn-mini" href="{{ entry.get_absolute_url }}#downloads"><i class="icon-download-alt"></i> {% trans "View Downloads" %}</a></li>
	            {% endif %}
                {% get_first_gallery entry as entry_gallery %}
                {% if entry_gallery %}
                    <li><a class="btn btn-mini" href="{{ entry.get_absolute_url }}#gallery{{ entry_gallery.pk }}"><i class="icon-picture"></i> {% trans "View Gallery" %}</a></li>
	            {% endif %}
	            <!-- <li><a class="btn btn-mini" href="{{ entry.get_absolute_url }}#comments"><i class="icon-comment"></i> 0 Comments</a></li> -->
            </ul>
        {% endif %}

    </div><!-- /caption -->




</div><!-- /blog-roll / blog-post row-fluid -->

       {% if not is_detail %}
       <hr>
       {% endif %}

