{% load i18n multilingual_events_tags placeholder_tags multilingual_project_blog_tags %}

<div class="span9">
    <div class="event thumbnail type-{{ event.category.slug }}">
        <div class="tags">
            <span class="tag">{{ event.start_date }}</span> /
            <span class="tag">{{ event.category.title }}</span>
        </div>
        <h3 class="title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
        <p class="description">{{ event.description }}</p>
        {% placeholder_has_plugins event.detailed_description as has_plugins %}
        {% if has_plugins %}
            <span class="description">{% render_placeholder event.detailed_description %}</span>
        {% endif %}
        <p><a href="{{ event.get_absolute_url }}" class="btn btn-mini btn-info">{% trans "Read more …"%}</a></p>
        <hr>
        <ul class="unstyled">
            <li><i class="icon-calendar"></i> {{ event.start_date }} {% if event.end_date %}– {{ event.end_date }}{% endif %}</li>

            {% if event.venue_url or event.google_maps_shortlink or event.venue_name %}
                <li><i class="icon-globe"></i>
                    {% if event.venue_url %}
                        {{ event.venue_name }}
                    {% elif event.venue_name %}
                        {{ event.venue_name }}
                    {% endif %}
                    {{ event.get_city_and_country }}
                </li>
            {% endif %}

            {% if event.end_date %}
            <li>
                <i class="icon-time"></i>
                {% blocktrans count amount=event.get_number_of_days %}
                {{ amount }} day
                {% plural %}
                {{ amount }} days
                {% endblocktrans %}
            </li>
            {% endif %}

        </ul>
        <div style="clear:both;"></div>
    </div><!-- /event -->
</div><!-- /span9 -->
