{% extends "base.html" %}
{% load i18n sekizai_tags simple_translation_tags %}
{% load cms_tags %}
{% load url from future %}

{% block main %}
<div class="container">
    <h2 class="title-divider"><span>{% trans "Good Practice Examples" %}</span></h2>

    <!-- // EVENT LIST FILTER -->
    {% addtoblock "js" %}
    <script src="{{ STATIC_URL }}multilingual_project_blog/js/libs/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // initiating the multiselect widget
            $(".example-list-filter").multiselect();

            // triggering the filtering of examples
            $(".multiselect-container li a label").click(function(e) {
                var filterClasses = [];

                // get the values of all selected inputs
                $(".active a label input").each(function() {
                    filterClasses.push($(this).val());
                })

                // hide all examples that do not have the values from above as
                // classes
                $(".example").each(function() {
                    $(this).removeClass("hide");
                    for (var i = 0; i < filterClasses.length; i++) {
                        if (!$(this).hasClass(filterClasses[i])) {
                            $(this).addClass("hide");
                        }
                    }
                });

                // show no-examples badge if the examples list is empty
                if ($(".example").not(".hide").length==0) {
                    $(".no-examples").removeClass("hide");
                } else {
                    $(".no-examples").addClass("hide");
                }

            });
        })
    </script>
    {% endaddtoblock %}

    <div class="row">


    	<!-- examples -->

    	<div class="span9" id="examples-content">
		    <div class="example-list">
				<div class="row">
                    <div class="span9 no-examples hide"><span class="label label-info">{% trans "No examples found." %}</span></div>
                        <!-- EXAMPLE -->
                    {% for example in object_list %}
                        {% include "good_practice_examples/partials/example_item.html" %}
                    {% empty %}
                        <div class="span9">
                            <div class="alert alert-warning">{% trans "No examples found." %}</div>
                        </div>
                    {% endfor %}
				</div><!--/row-->
            </div>
    	</div> <!-- /span9 exampes-content -->

    	<!-- /sidebar -->

    	<div class="span3 sidebar" id="examples-sidebar">

    		<div class="well intro">
                <small>
                    {% placeholder 01_sidebar %}
                </small>
            </div>

    		<h4 class="title-divider"><span>{% trans "Filter" %}</span></h4>

    		<div class="well" style="max-width: 340px; padding: 8px 0;">
                <div class="nav-list nav">
                    <div class="nav-header">{% trans "Countries" %}</div>
                    <select class="countries-list-filter example-list-filter" multiple="multiple">
                        {% for country in countries %}
                            <option value="country{{ country.pk }}">{{ country.country.name }}</option>
                        {% endfor %}
                    </select>
                </div> <!-- /nav -->
            </div> <!-- /well -->

    		<div class="well" style="max-width: 340px; padding: 8px 0;">
                <div class="nav-list nav">
                    <div class="nav-header">{% trans "Goals" %}</div>
                    <select class="goals-list-filter example-list-filter" multiple="multiple">
                        {% for goal in goals %}
                            <option value="goal{{ goal.pk }}">{{ goal }}</option>
                        {% endfor %}
                    </select>
                </div> <!-- /nav -->
            </div> <!-- /well -->

    		<div class="well" style="max-width: 340px; padding: 8px 0;">
                <div class="nav-list nav">
                    <div class="nav-header">{% trans "Sectors" %}</div>
                    <select class="sectors-list-filter example-list-filter" multiple="multiple">
                        {% for sector in sectors %}
                            <option value="sector{{ sector.pk }}">{{ sector }}</option>
                        {% endfor %}
                    </select>
                </div> <!-- /nav -->
            </div> <!-- /well -->
        </div> <!-- /span3 sidebar -->


    </div><!-- /row -->

</div> <!--/container -->
{% endblock %}
