{% extends "base.html" %}
{% load i18n sekizai_tags cms_tags document_library_tags %}
{% load hero_slider_tags multilingual_events_tags roadmap_tags multilingual_project_blog_tags %}

{% block main %}
<div class="container">
    <div class="row">
            <div class="span6 lead">
                <div class="">
                <h2 class="title-divider">
                    <span>
                        {% placeholder_as 01_headline as headline %}
                        {{ headline|striptags }}
                    </span>
                </h2>
                {% placeholder 02_content %}
                </div>
            </div>
            <div class="span5 offset1">
                {% render_hero_slider %}
            </div>
    </div> <!-- /row -->
</div><!-- /container -->


<div class="container">

<hr>

    <section>
        <div class="row">
			
        {% block column-home-1 %}
        {% endblock %}

        {% block column-home-2 %}
        {% endblock %}

        {% block column-home-3 %}
        {% endblock %}

        </div>
    </section>
</div>




{% addtoblock "js" %}

{% endaddtoblock %}
{% endblock %}








