{% extends "base.html" %}

{% block main %}

<h3 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h3>

<code>
	<h3 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h3>
</code>


<hr>


<div class="container">         
  <div class="row">
  
    <div class="span3">
      <blockquote>
        <p>"It's totally awesome, we're could imagine life without it!"</p>
        <small>RUN DMC <span class="spacer">/</span> <a href="#">@run_dmc</a></small> </blockquote>
    </div>
    
    <div class="span3">
      <blockquote>
        <p>"10 out of 10, highly recommended!"</p>
        <small>Bill Gates <span class="spacer">/</span> <a href="#">Founder of Microsoft</a></small> </blockquote>
    </div>
    
    <div class="span3">
      <blockquote>
        <p>"Our productivity &amp; sales are up! Couldn't be happier!"</p>
        <small>Adele <span class="spacer">/</span> <a href="#">@adele</a></small> </blockquote>
    </div>
    
  </div>
</div>


<code>

<div class="container">         
  <div class="row">
  
    <div class="span3">
      <blockquote>
        <p>"It's totally awesome, we're could imagine life without it!"</p>
        <small>RUN DMC <span class="spacer">/</span> <a href="#">@run_dmc</a></small> </blockquote>
    </div>
    
    <div class="span3">
      <blockquote>
        <p>"10 out of 10, highly recommended!"</p>
        <small>Bill Gates <span class="spacer">/</span> <a href="#">Founder of Microsoft</a></small> </blockquote>
    </div>
    
    <div class="span3">
      <blockquote>
        <p>"Our productivity &amp; sales are up! Couldn't be happier!"</p>
        <small>Adele <span class="spacer">/</span> <a href="#">@adele</a></small> </blockquote>
    </div>
    
  </div>
</div>

</code>


{% endblock %} 