{% load i18n document_library_tags %}
{% if document.download_url %}
    <a class="btn {{ btn_class }}" href="{{ document.download_url }}" target="_blank" title="{{ document.download_url }}">{% trans "View Document" %} <i class="icon-external-link"></i></a>
{% else %}
    {% get_files_for_document document as files %}
    {% if files %}
        <div class="file">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download-alt"></i> {% trans "Download Document" %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for file in files %}
                        <li><a href="{{ file.url }}"><i class="icon-download-alt"></i> [{{ document.get_filetype }}] {{ file.name|default:file.original_filename }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endif %}
