{% load i18n multilingual_project_blog_tags %}
{% if attachments %}
    <div class="file">
            <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-download-alt"></i> {{ button_title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for attachment in attachments %}
                        {% if attachment.document.is_published %}
                            {% if attachment.document.download_url %}
                                <li><a class="btn" href="{{ attachment.document.download_url }}" target="_blank" title="{{ attachment.document.download_url }}">{{ document.title }}<i class="icon-external-link"></i></a></li>
                            {% else %}
                                {% for document_trans in attachment.document.translations.all %}
                                    <li><a href="{{ document_trans.filer_file.url }}">
                                        <i class="icon-download-alt"></i>
                                        {{ document_trans.filer_file.original_filename }}
                                        {% custom_get_language_info document_trans.language_code as lang %}
                                        [{% trans lang.name %}]
                                    </a></li>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
    </div>
{% endif %}
