{% extends "multilingual_news/multilingual_news_base.html" %}
{% load i18n %}

{% block left-col %}
    {{ block.super }}

    {% block archive_headline %}
        <h3 class="blog-category">{% block archive_headline_sector %}{% endblock %} <span>{% block archive_headline_sector_name %}{% endblock %}</span></h3>
    {% endblock %}
    {% block archive_objects %}
        {% if object_list %}
            {% include "multilingual_news/entry_list_include.html" %}
            {% if is_paginated %}
                {% include "multilingual_news/partials/pagination.html" %}
            {% endif %}
        {% else %}
            <p>{% trans "No entries" %}</p>
        {% endif %}
    {% endblock %}
{% endblock %}
